name: ghcr
on:
  push:
    branches:
      - main
      - marcus/docker-fix
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
      - name: Login to registry
        uses: "docker/login-action@v3.3.0"
        with:
          registry: ${{ env.REGISTRY }}
          password: ${{ secrets.GITHUB_TOKEN }}
          username: ${{ github.actor }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.3.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4.2.1
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: "ghcr.io/convos-chat/convos-base:main"
          push: true
          labels: ${{ steps.meta.outputs.labels }}
